html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.rounded_border{
    border-radius: 20px;
}

/* colori testi, bottoni, background */
:root{
    --blue: #2D64E6;
    --dark_blue: #00439C;
    --orange: #CD3D0F;
    --grey: #D9DADC;
    --dark_grey: #BEBCBB;
}

.bg_blue{
    background-color: var(--blue);
}

.bg_orange{
    background-color: var(--orange);
}

.bg_white{
    background-color: white;
}

.bg_lightgrey{
    background-color: var(--grey)
}

/* header */
.header_sony_logo{
    height: 2.25rem;
    color: white;
}

#header_nav{
    height: 4rem;
}

/* Jumbotron */

.games_thumb:hover{
    border: 2px solid var(--blue);
}

.carousel_description p{
    width: 26.8rem;
}

#jumbotron{
    background-image: url('../assets/img/jumbo-bg.png');
    background-repeat: no-repeat;
    height: 36.625rem;
}

/* console ps5 */

.ps5_card p{
    width: 500px;
}

.ps5_opacity{
    opacity: 0.5;
}

.ps5_opacity:hover{
    opacity: 1;
    border-bottom: 1px solid var(--blue);
}

/* new releases */
#new_releases{
    background-image: url('../assets/img/it-takes-two-hero-banner-desktop.jpg');
    height: 38.625rem;
}

.new_game_img{
    border-radius: 20px;
}

#ps_plus{
    background-color: var(--dark_grey);
    height: 25rem;
}