html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.rounded_border{
    border-radius: 20px;
}

/* colori testi, bottoni, background */
:root{
    --blue: #2D64E6;
    --dark_blue: #00439C;
    --orange: #CD3D0F;
    --grey: #D9DADC;
    --dark_grey: #BEBCBB;
}

.bg_orange{
    background-color: var(--orange);
}

.bg_white{
    background-color: white;
}

/* header */
.header_sony_logo{
    height: 2.25rem;
    color: white;
}

#header_nav{
    height: 4rem;
}

/* Jumbotron */

.col:hover{
    border: 2px solid var(--blue);
}

.carousel_description p{
    width: 26.8rem;
}

#jumbotron{
    background-image: url('../assets/img/jumbo-bg.png');
    background-repeat: no-repeat;
    height: 36.625rem;
}